.hero-image-inner {margin-bottom: 110px;}
.customers-badge-inner {margin-right: 40px;}
.service-details ul li {list-style: circle !important; display: list-item; margin-left: 20px;}
.portfoliobotmob {margin-bottom: 20px;}
.portfoliobotmob img {border: 2px #4e9502 solid;}
.home-hero .ourprice {    font-size: 14px;padding: 10px;}
/*======ourprice=======*/
.ourprice {
  background-color: #028700;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  -webkit-animation: blink 800ms infinite;
          animation: blink 800ms infinite;
}
@-webkit-keyframes blink { 50% { background-color: rgb(0, 0, 0); }}
      @keyframes blink { 50% { background-color: rgb(0, 0, 0); }}
/*======ourprice=======*/

.pricing-card-title {font-size: 1.7rem;}
th {font-weight: 400;}
.footer-cta {display: none;}

@media (max-width: 992px) {
.hero {padding-top: 100px;}    
.hero-image-inner {margin-bottom: 0px; margin-top: -20px; max-width: 100px !important;}
.hero-content h3 {font-size: 15px;}
.home-hero .ourprice {font-size: 13px; padding: 10px 5px;}
.ourprice  {font-size: 13px; padding: 10px 5px;}
.customers-badge-inner {margin-right: 50px;}
.margbotmob {margin-bottom: 5px; font-size: 14px;}
.clients .section-title {padding-bottom: 10px;}
.portfoliobotmob {margin-bottom: 20px;}
.footer-links ul li {position: relative; display: inline-flex !important; margin-right: 20px;}
.footer-links ul li:before {
  content: "|";
  position: absolute;
  right: -15px;
}
.service-details h1 {font-size: 20px; font-weight: bold; color: #4e9502;}
.service-details h2, h3, h4 {font-size: 18px; font-weight: bold;}
.service-details p {font-size: 16px;}
.scroll-top {bottom: 60px !important;}
.footer .copyright {margin-bottom: 20px;}
/* fotter cta */
.footer-cta {
  background-color: #4e9502;
  width: 100%;
  border-top: 3px solid #2a5100;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  z-index: 9;
  display: block;  
}

.footer-cta ul {
  font-size: 14px;
  margin: 5px 0;
  list-style: none;  
}

.footer-cta ul li {
  width: 30%;
  display: inline-block;
  text-align: center;
}

.footer-cta ul li a {
  color: #fff;
}

.footer-cta ul li a:hover {
  color: #ccc;
  text-decoration: none
}


/* fotter cta */
  }